//Variable
$blueLight: #2bbdfb;
$colorDarkBlue: #467589;
$blancTransparent: rgba(255, 255, 255, 0.75);
$blancPersonnalise: #fffffff6;
$borderLight: 0.01rem solid rgba(0, 0, 0, 0.1);
// Mixin

@mixin flex($flex-direction, $justify, $alignItems, $alignContent) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify;
  align-items: $alignItems;
  align-content: $alignContent;
}
@mixin ombre() {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}
@mixin ombreLight() {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
}
//Font
@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins-Bold.ttf') format('truetype');
}
//Import
@import 'header.scss';
@import 'section.scss';
@import 'sideBar.scss';
@import 'footer.scss';

//Global
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%; //1rem = 10px
}
body {
  font-size: 1.6rem;
  background: $blancTransparent url(../img/images/map.webp) no-repeat
    center;
  background-size: cover;
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $colorDarkBlue;
  font-weight: bold;
}
h1 {
  font-size: 2.5rem;
}

a,
li,
label,
p {
  color: $colorDarkBlue;
}
